@font-face {
    font-family: dejavuserif;
    src: url("../font/dejavuserif.ttf") format("truetype");
}

@font-face {
    font-family: dejavuserif;
    src: url("../font/dejavuserif.woff") format("woff");
}

@font-face {
    font-family: dejavuserif;
    src: url("../font/dejavuserif.woff2") format("woff2");
}

@font-face {
    font-family: dejavuserifbold;
    src: url("../font/dejavuserifbold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: dejavuserifbold;
    src: url("../font/dejavuserifbold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: dejavuserifbold;
    src: url("../font/dejavuserifbold.woff2") format("woff2");
    font-weight: bold;
}
